@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
} */

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

/* body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}  */

body,
html {
  font-size: 0.9rem;
  background: #f2f3f7;
}
body,
.form-control {
  font-size: 0.9rem;
}
body,
html,
#root,
.App {
  min-height: 100vh;
}
.btn {
  font-size: 0.9rem;
  font-weight: 500;
  padding: 0.66rem;
  border-radius: 0.5rem;
  box-shadow: 0 0.1rem 0.1rem rgba(0, 0, 0, 0.05) !important;
}
.App-link {
  color: #61dafb;
}

.btn-light {
  color: white;
  border-color: #0426ff;
  background-color: #6d525200;
}

.btn-light:hover {
  color: rgb(35, 35, 35);
  /* border-color: #0426ff; */
  /* background-color: #223ece; */
}

.shadow {
  box-shadow: 0 0.1rem 0.1rem rgba(0, 0, 0, 0.05) !important;
}

.modal-content,
.card {
  overflow: hidden;
  border-radius: 0.756rem;
}

hr {
  opacity: 0.1;
}

.table th {
  border-top: 1px solid #0000001a;
  border-bottom: 1px solid #0000001a;
  border-bottom-color: #0000001a !important;
}
.table td {
  text-align: left;
}
.table tr th:first-child,
.table tr td:first-child {
  padding-left: 0;
}
.table tr th:last-child,
.table tr td:last-child {
  padding-right: 0;
}

.form-control {
  background: #212529;
  color: rgb(233, 233, 233);
  font-weight: 400;
  padding: 0.5rem 0.75rem;
  border: none;
}
.form-control:hover {
  background: #505050;
  color: white;
}
.form-control::placeholder {
  color: rgb(147, 147, 147);
}
.form-control::placeholder,
.form-control::-ms-input-placeholder,
.form-control:-ms-input-placeholder {
  color: #f2f2f2;
}
.form-control:focus {
  background: #212529;
}

#invoiceCapture {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.table {
  background-color: #020202;
  --bs-table-bg: #000000;
  border-color: black;
  --bs-table-color: white;
}

.hello {
  --bs-table-bg: #212529;
  padding: 5px;
  border: #212529;
  background-color: #212529;
}

.cl-internal-1vi7rps,
.cl-internal-17bz5n6,
.cl-internal-1yejcov,
.cl-internal-uyu30o,
.cl-internal-uyu30o {
  color: rgb(225, 225, 225);
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  /* font-size: 1.2rem; */
  background-color: #1a1a1a;
}

.form-select, .input-group>.form-control, .input-group>.form-floating, .input-group>.form-select{
  color: white;
}
textarea.my-2.form-control {
    color: white;
}
input.my-2.form-control {
    color: white;
}